html {
  background-color: teal;
  text-align: center;
}

ul, li {
  list-style-type: none;
}

.title1 {
  border: 2px solid black;
  padding: 2px;
  background-color: teal;

}

.body1 {
  border: 2px solid white;
  background-color: white;
}
